<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomas.web.dao.itrface.TeacherDAO">
  	<select id="queryTeacherById" parameterType="int" resultMap="teacherResultMap">
		SELECT t1.*,t2.id AS stuId,t2.`name` AS stuName,t2.classname,t2.teacherId FROM tb_teacher t1 LEFT JOIN tb_students t2 ON t1.id=t2.teacherId WHERE t1.id=#{id};
	</select>
	
	<resultMap type="teacher" id="teacherResultMap">
		<id column="id" property="teacherId"/>
		<result column="name" property="teacherName"/>
		<result column="age" property="teacherAge"/>
		<collection property="students" ofType="students" resultMap="sturm"/>
	</resultMap>
	
	<resultMap type="students" id="sturm">
		<id column="stuId" property="studentId"/>
		<result  column="stuName" property="studentName"/>
		<result  column="classname" property="className"/>
		<result column="teacherId" property="teacherId"/>
	</resultMap>
</mapper>