<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomas.web.dao.UserDao">

	<select id="showUsers" parameterType="int" resultType="com.tomas.web.dao.UserBaseInfo">
		select * from tb_userbaseinfo where id=#{id}
	</select>
	
	<!-- <select id="findById" parameterType="int" resultType="Users">
		select * from test_users u where u.id=#{id}
	</select>
	
	多个参数的时候  需要用  下标参数   从0开始
	<select id="findInfo" resultType="Users">
		select * from test_users u where u.username=#{0} and u.password=#{password}
	</select> -->
</mapper>