<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd"> 
<!-- configuration details go here -->
	<!-- 先注掉吧Thymeleaf这个东西比较大，还玩不转 
	<bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver"
		p:prefix="/WEB-INF/templates/"
		p:suffix=".html"
		p:templateMode="HTML5" />
	<bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine"
		p:templateResolver-ref="templateResolver" />
	<bean id="viewResolver" class="org.thymeleaf.spring3.view.ThymeleafViewResolver"
		p:templateEngine-ref="templateEngine" /> -->

</beans>