<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation=
		"http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd"> 
<!-- configuration details go here -->
	<!-- 先注掉吧Thymeleaf这个东西比较大，还玩不转 
	<bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver"
		p:prefix="/WEB-INF/templates/"
		p:suffix=".html"
		p:templateMode="HTML5" />
	<bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine"
		p:templateResolver-ref="templateResolver" />
	<bean id="viewResolver" class="org.thymeleaf.spring3.view.ThymeleafViewResolver"
		p:templateEngine-ref="templateEngine" /> -->
	<context:property-placeholder location="classpath:config/jdbc/jdbc.properties"/>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- 整合MyBatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- <property name="configLocation" value="classpath:config/jdbc/mybatis-config.xml" /> -->
		<property name="mapperLocations" value="classpath:com/tomas/web/dao/mapper/*.xml"/>
		<property name="dataSource" ref="dataSource"/>
		<property name="typeAliasesPackage" value="com.tomas.web.instance"/>
		<property name="typeHandlersPackage" value="com.tomas.web.dao.typehandlers"/>
	</bean>
	
	<!-- 配置MyBatis的接口映射 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注意这里如果指定basePackage可以让scanner在指定目录下进行扫描，并将扫描到的接口动态的组装为SpringBean -->
		<!-- 将扫描到的接口通过MapperFactoryBean转化为对应接口实现的SpringBean -->
		<property name="basePackage" value="com.tomas.web.dao.itrface"/>
		<!-- 这其中有几个属性sqlSessionFactoryBeanName(name)与sqlSessionFactory(实体) 与上面的配置保持一致-->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
</beans>